In [8]:
print("hola")

hola

In [9]:
import pandas as pd

In [10]:
personas =  pd.read_csv("https://datasets.datos.mincyt.gob.ar/dataset/06ae9728-c376-47bd-9c41-fbdca68707c6/resource/11dca5bb-9a5f-4da5-b040-28957126be18/download/personas_2011.csv", sep=";")
personas.head()

,persona_id,anio,sexo_id,edad,maximo_grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_titulo_grado_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,...,producciones_ult_3_anios,producciones_ult_4_anios,institucion_trabajo_id,seniority_level,categoria_conicet_id,categoria_incentivos,max_dedicacion_horaria_docente_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id
0,1,2011,2,36,-1,-1,-1,64,4,0,...,1,1,4488,,-1.0,-1.0,3.0,116.0,22.0,1.0
1,5,2011,1,48,1,255,255,255,3,5,...,13,17,118,B,2.0,3.0,3.0,118.0,19.0,2.0
2,7,2011,2,30,5,111,111,158,1,11,...,13,13,587,D,NaN,NaN,NaN,NaN,NaN,NaN
3,10,2011,2,51,5,248,248,29,4,0,...,3,4,44,,-1.0,4.0,3.0,124.0,21.0,1.0
4,11,2011,1,39,2,223,203,280,3,8,...,15,18,7310,C,-1.0,4.0,3.0,6627.0,20.0,1.0

In [11]:
personas.describe()

,persona_id,anio,sexo_id,edad,maximo_grado_academico_id,disciplina_maximo_grado_academico_id,disciplina_titulo_grado_id,disciplina_experticia_id,tipo_personal_id,producciones_ult_anio,producciones_ult_2_anios,producciones_ult_3_anios,producciones_ult_4_anios,institucion_trabajo_id,categoria_conicet_id,categoria_incentivos,max_dedicacion_horaria_docente_id,institucion_cargo_docente_id,clase_cargo_docente_id,tipo_condicion_docente_id
count,68552.000000,68552.0,68552.000000,68552.000000,68552.000000,68552.000000,68552.000000,68552.000000,68552.000000,68552.000000,68552.000000,68552.000000,68552.000000,68552.000000,48640.000000,48640.000000,48640.000000,48640.000000,48640.000000,48640.000000
mean,52537.987280,2011.0,1.423430,38.475172,3.306847,152.966726,132.484304,170.716361,2.757513,1.828524,3.428200,4.866598,6.097269,3542.855949,0.148109,1.568113,2.284581,2420.716509,26.990933,1.530222
std,40279.541919,0.0,0.494106,12.483655,2.258145,112.218458,111.126032,96.854644,1.007493,3.373484,5.835939,8.044310,10.063260,3537.429358,2.434280,2.481388,0.836581,2876.320797,15.466552,0.674031
min,1.000000,2011.0,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,1.000000,-1.000000,-1.000000,1.000000,2.000000,17.000000,-1.000000
25%,22112.500000,2011.0,1.000000,29.000000,1.000000,26.000000,3.000000,62.000000,2.000000,0.000000,0.000000,0.000000,0.000000,473.000000,-1.000000,-1.000000,2.000000,366.000000,18.000000,1.000000
50%,44284.500000,2011.0,1.000000,37.000000,3.000000,199.000000,150.000000,202.000000,3.000000,0.000000,1.000000,2.000000,2.000000,1734.000000,-1.000000,2.000000,3.000000,691.000000,20.000000,1.000000
75%,73350.250000,2011.0,2.000000,48.000000,5.000000,254.000000,248.000000,252.000000,4.000000,3.000000,5.000000,7.000000,8.000000,6355.000000,-1.000000,4.000000,3.000000,4067.000000,22.000000,2.000000
max,185608.000000,2011.0,2.000000,88.000000,8.000000,288.000000,288.000000,288.000000,4.000000,78.000000,130.000000,154.000000,216.000000,17131.000000,11.000000,5.000000,3.000000,16601.000000,81.000000,3.000000